[Desktop Entry]
Encoding=UTF-8
Name=Datromax Core
Comment=Datromax P2P Cryptocurrency
Comment[de]=Verbinde mit dem Datromax peer-to-peer Netzwerk
Comment[fr]=Datromax, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Datromax, eşten eşe kriptografik sanal para birimi
Exec=datromax-qt %u
Terminal=false
Type=Application
Icon=datromax128
MimeType=x-scheme-handler/datromax;
Categories=Office;Finance;
